* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* khôi phục lại cỡ chữ mặc định  */
body {
  font-size: 1.6rem;
  height: 100000px;
  background-color: #fffcf4;
}
:root {
  --primary-color: #ffb900;
}
/* common thuộc tính chung */
.heading-lv2 {
  width: 351;
  height: 48;
  opacity: 1;
  font-family: Sen;
  font-weight: 700;
  font-style: Bold;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: -2%;
}
/* header  */
.header.fixed {
  z-index: 1;
}
a {
  text-decoration: none;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0px 8px;
}
.nav ul {
  display: flex;
  align-items: baseline;
  flex-shrink: 1;
}
li {
  list-style: none;
}
.nav {
  margin-left: auto;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}
.nav ul li a {
  position: relative;
  font-size: 1.6rem;
  color: #5f5b53;
  font-style: normal;
  padding: 8px 21px;
}
.nav ul li a:hover {
  text-shadow: 1px 0 0 currentColor;
}
.btn {
  color: white;
  width: 144;
  height: 50;
  border-radius: 24.5px;
  display: inline-block;
  padding: 11px 16px;
  min-width: 118px;
  text-align: center;
}
header .btn-sign-up {
  background-color: black;
  min-width: 144px;
}
.nav li.active a::after {
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: black;
  position: absolute;
  left: 21px;
}
.header {
  background-color: #fffcf4;
  position: sticky;
  top: -28px;
}
.header .action {
  margin-left: 49px;
}
.hero {
  margin-top: 56px;
}
.cta-group a {
  background-color: rgb(255, 140, 0);
}
main .body {
  display: flex;
  justify-content: space-between;
}
.media-block {
  width: 570px;
  height: 685px;
  position: relative;
}
.content-block {
  width: 470px;
  height: 558px;
}
.hero .hero-summary {
  width: 270px;
  background-color: #fff;
  border-radius: 12px;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 50%;

  box-shadow: 0 15px 35px 5px rgba(0, 0, 0, 0.08);
}
.hero-summary .items {
  display: flex;
  padding-left: 20px;
  align-items: center;
}
.hero-summary .items + .items {
  margin-top: 15px;
}
.hero .media-block .img {
  border-radius: 20px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff98e;
}
.hero-summary .icon2 {
  background-color: #fcefff;
}
.hero-summary .icon2 {
  background-color: #ebeaff;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .label {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0%;
}
.hero-summary .title {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
}
.hero .content-block .heading {
  font-family: Sen;
  font-weight: 700;
  font-style: Bold;
  font-size: 58px;
  line-height: 68px;
  letter-spacing: -2%;
}
.hero .content-block .desc {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
}
.hero .cta-group {
  display: flex;
}
.cta-group .watch-video {
  margin-left: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  border: none;
  display: flex;
  justify-content: center;
}
.cta-group .watch-video .icon {
  background-color: white;
  padding: 10px;
}
.cta-group .watch-video span {
  font-weight: bold;
  margin-left: 20px;
  padding: 10px;
}
.hero .details-hero {
  display: flex;
}
.hero .details-hero p + p {
  margin-left: 50px;
}
.hero .details-hero strong {
  font-size: 65px;
}
/* popular  */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}
.popular .popular-top .desc {
  margin-top: 16px;
  width: 458px;
  height: 60px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}
.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .controls {
  margin-top: 16px;
  display: flex;
  gap: 18px;
}
.popular .controls .control-btn {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}
.popular .controls .control-btn:hover {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}
